@import './reset.scss';
@import './fonts.scss';
@import './variables.scss';

*,
*::before,
*::after {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    background-color: var(--bg-body);
    color: var(--main-color);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 16px;
    font-weight: 400;
}

a {
    color: inherit;
    cursor: pointer;
    text-decoration: none;
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    outline: none;
}

ul,
ol {
    list-style: none;
}

h1 {
    font-size: 48px;
    margin-bottom: 40px;
    text-align: center;
}
