.application {
    align-items: center;
    display: flex;
    flex-direction: column;

    &__form {
        align-items: center;
        background-color: var(--bg-content);
        border-radius: 30px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 600px;
        padding: 30px;
        position: relative;
        row-gap: 15px;
        width: 100%;
        width: max-content;
    }

    &__btn {
        background-color: var(--bg-form-btn);
        border-radius: 15px;
        border: none;
        color: #fff;
        cursor: pointer;
        font-size: 20px;
        margin-top: 10px;
        outline: none;
        padding: 7px 10px;
    }

    &__delete {
        cursor: pointer;
    }
}
