.list {
    border-bottom: 3px solid var(--bg-content);
    border-top: 3px solid var(--bg-content);
    gap: 5px;
    display: flex;
    flex-wrap: wrap;
    margin: 30px 0px 40px;
    padding: 10px 0px 20px;

    &__item {
        position: relative;
        height: 80px;
        width: 80px;
    }

    &__img {
        background-color: #fff;
        width: 100%;
        height: 100%;
    }

    &__item_remove {
        cursor: pointer;
        color: var(--bg-form-btn);
        font-weight: 900;
        font-size: 25px;
        position: absolute;
        top: -3px;
        right: -3px;
        display: block;
    }

    &__item_format {
        color: #000;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%);
    }

    &__descr {
        line-clamp: 3;
        font-size: 12px;
        overflow: hidden;
        text-overflow: ellipsis;
        text-wrap: nowrap;
    }
}
