.table {
    border-collapse: collapse;
    width: 100%;

    &__row {
        border: 2px solid var(--bg-content);
        cursor: pointer;
    }

    &__cell {
        border: 2px solid var(--bg-content);
        padding: 10px 5px;
    }
}

@media (hover: hover) {
    tbody .table__row:hover {
        text-shadow: 1px 1px 1px var(--main-color);
    }
}
